@using IsaacHili.InstagramTools.Models

<ul>
	@for (int y = 0; y < Connections.Count; y++)
	{
		@* Year *@
		<li data-year="@FollowDate(Connections[y]).Year"
			class="grid grid-cols-1fr-3fr py-4 border-b-2
				before:font-bold before:content-[attr(data-year)]
				last-of-type:border-none">

			@* Connections *@
			<ul class="grid grid-cols-1 md:grid-cols-2 2xl:grid-cols-3">

				@for (int c = y; c < Connections.Count; c++)
				{
					@* Years don't match, break inner loop *@
					if (FollowDate(Connections[c]).Year > FollowDate(Connections[y]).Year)
					{
						break;
					}

					@* Connection *@
					<li class="px-2 overflow-hidden text-ellipsis" data-year="@FollowDate(Connections[c]).Year, @FollowDate(Connections[y]).Year">
						<a href="@Connections[c].ProfileUri" target="_blank">
							@@@Connections[c].Username
						</a>
					</li>

					@* Years match, iterate outer loop *@
					if (c > y)
					{
						y++;
					}
				}

			</ul>

		</li>
	}
</ul>

@code {
	[Parameter]
	public required IList<Connection> Connections { get; set; }

	[Parameter]
	public required Func<Connection, DateTime> FollowDate { get; set; }
}
