@inject IConnectionsService connectionsService

@page "/"
@using IsaacHili.InstagramTools.Followers.Abstractions.Services
@using System.Diagnostics

@* Followers and Following *@
<section>

	<h2>Connections</h2>

	@* File Input *@
	<InputFile OnChange="LoadFileAsync" accept=".zip"
		class="p-1.5 bg-slate-50 bg-opacity-25 text-midnight rounded-full w-full max-w-full
			cursor-pointer
			file:bg-midnight file:text-slate-50 file:font-mono file:mr-2 file:px-4
			file:rounded-full file:border-none file:cursor-pointer
			hover:bg-opacity-50
			file:hover:bg-mustard file:hover:text-midnight" />

	@if (IsFileLoaded)
	{
		<h3>Accounts That Don't Follow You Back</h3>

		@* Not Followed *@
		<ul>
			@for (int i = 0; i < connectionsService.NotFollowed.Count; i++)
			{
				@* Year *@
				<li data-year="@connectionsService.NotFollowed[i].DateFollowing.Year"
					class="grid grid-cols-1fr-3fr py-4 border-b-2
						before:font-bold before:content-[attr(data-year)]
						last-of-type:border-none">

					@* Connections *@
					<ul class="grid grid-cols-1 md:grid-cols-2 2xl:grid-cols-3">

						@do
						{
							@* Increment Indexer *@
							i++;

							@* Connection *@
							<li class="px-2 overflow-hidden text-ellipsis">
								<a href="@connectionsService.NotFollowed[i].ProfileUri" target="_blank">
									@@@connectionsService.NotFollowed[i].Username
								</a>
							</li>
						} while (i + 1 < connectionsService.NotFollowed.Count
							&& connectionsService.NotFollowed[i].DateFollowing.Year
								== connectionsService.NotFollowed[i + 1].DateFollowing.Year);

					</ul>

				</li>
			}
		</ul>

		@* Accounts That You Don't Follow Back *@
		<details>

			@* Title *@
			<summary>Accounts That You Don't Follow Back</summary>

			@* Not Following *@
			<ul>
				@foreach (var follower in connectionsService.NotFollowing)
				{
					<li>
						<a href="@follower.ProfileUri" target="_blank">@@@follower.Username</a>
					</li>
				}
			</ul>

		</details>

		@* Accounts That Follow You Back *@
		<details>

			@* Title *@
			<summary>Accounts That Follow You Back</summary>

			@* Mutual Followers *@
			<ul>
				@foreach (var follower in connectionsService.Mutual)
				{
					<li>
						<a href="@follower.ProfileUri" target="_blank">@@@follower.Username</a>
					</li>
				}
			</ul>
			
		</details>
	}

</section>

@code {

	private bool IsFileLoaded { get; set; }

	private async Task LoadFileAsync(InputFileChangeEventArgs e)
	{
		string extension = Path.GetExtension(e.File.Name);

		if (extension != ".zip")
		{
			return;
		}

		// Copy archive to memory stream
		using var stream = new MemoryStream();
		await e.File.OpenReadStream().CopyToAsync(stream);

		// Read memory stream
		await connectionsService.LoadConnectionsAsync(stream);

		IsFileLoaded = true;
	}
}
