name: Publish Package (Feature)

on:
  push:
    branches:
      - 'feature/*'

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:

    # Checkout
    - name: Checkout code
      uses: actions/checkout@v4
      with:
        fetch-depth: 0

    # Build and publish
    - name: Build and publish
      uses: ./.github/actions/publish
      with:
        version-suffix: "alpha$(date +'%y%m%d%H%M%S')"

    # Publish artefacts to Cloudflare (Preview)
    - name: Publish artefacts to Cloudflare
      uses: cloudflare/wrangler-action@v3
      with:
        apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
        accountId: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
        gitHubToken: ${{ secrets.GITHUB_TOKEN }}
        command: pages deploy ./dist --project-name=instagram-tools
