name: Publish Package (Release)

on:
  push:
    tags:
      - '*'

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:

    # Checkout
    - name: Checkout code
      uses: actions/checkout@v4
      with:
        fetch-depth: 0

    # Build and publish
    - name: Build and publish
      uses: ./.github/actions/publish
      with:
        version: $GITHUB_REF_NAME
        umami-app-id: ${{ secrets.UMAMI_APP_ID }}

    # Publish artefacts to Cloudflare (Production)
    - name: Publish artefacts to Cloudflare
      uses: cloudflare/wrangler-action@v3
      with:
        apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
        accountId: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
        gitHubToken: ${{ secrets.GITHUB_TOKEN }}
        command: pages deploy ./build/wwwroot --project-name=instagram-tools --branch main
